*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 10px;
  background-color: #f8f8f8;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}